= form_with model: @address, local: true do |form|
  %p
    = form.label :city
    %br/
    = form.text_field :city
  %p
    = form.label :state
    %br/
    = form.text_field :state
  %p
    = form.label :country
    %br/
    = form.text_field :country
  %p
    = form.submit
