<div class="container">
  <br>
  <div class="jumbotron">
    <h1><%= @user.name %></h1>
    <p><b>Gender</b>: <%= @user.gender %></p>
    <p><b>Email</b>: <%= @user.email %></p>
    <p><%= link_to 'Delete', user_path(@user),
      method: :delete,
      data: { confirm: 'Are you sure?' },
      class: 'btn btn-danger' %></p>
    <hr>
    <%= link_to 'Home', users_path %>
  </div>
</div>
